.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr:first-child > td {
  border-top: 0;
}
.toppad {
  margin-top:20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.submit-btn {
  margin-top: 10px;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-text {
  font-size: smaller;
}

.login-link-left {
  float: left;
}

.login-link-right {
  float: right;
  margin-bottom: 2px;
}
